" vim:filetype=vim
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
" TODO
" zobaczyć jakie rzeczy nie są dostępne w ideavim i zbindować kilka rzeczy do tego 
" zgrupowane akcji - jak dla gita; dla refactoringu, dla czegośtam
" zobaczyć moje mappingi z vimrc/init
"
" , for git
" - for run
"
" przydałoby się zbindować:
" java class diagram/ bena spring ee
" c-a-7
" What if I want to use visual mode during refactoring? 
" Select mode is controlled by the keymodel and selectmode options. Remove template from the selectmode option to adjust this behavior.
" set selectmode-=template
" quick documentation - z ide
" ADD 
" import 
" max editor
" refactor this
" inline var - dodanie go do parametru
" shell - open terminal 
" parameter info
"

" SETS
let mapleader = ";"
set hlsearch
set ignorecase
set smartcase
set visualbell
set history=1000
set clipboard=unnamed
set clipboard+=ideaput
" set relativenumber
" https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples

" PLUGINS
set ideajoin
set easymotion

" visual select and then S
set surround            
" SurroundWith nie wiem czy działa                                       
vnoremap <leader>s :action SurroundWith<cr>
nnoremap <leader>s :action SurroundWith<cr>  
" gcc, gc + motion, v_gc
set commentary			
" <A + n> , <A + x>, <A + a> 
set multiple-cursors    


" ACTIONS
" problem with selection and s 
" nnoremap s <Nop>
" Ctrl + F12 in idea.
nnoremap gh :action FileStructurePopup<CR> 
" Perhaps just use the Idea shortcut Ctrl-Alt-B
" Alt + N, then m (through the menu bar) also seems to work, but it is non-unique.
nnoremap gd :action GotoDeclaration<CR>
" methid in interface
nnoremap gm :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
" ala c-a-7
nnoremap gu :action ShowUsages<CR>	
" podobne ale w nowym oknie
" nnoremap gu :action FindUsages<CR>	
nmap gf :action GotoFile<cr>
nmap gj :action GotoClass<cr>
nmap gs :action GotoSymbol<cr>
nmap ga :action GotoAction<cr>
" c-e
nmap gr :action RecentFiles<cr>
"like c-o in vim
nnoremap gl :action JumpToLastChange<CR> 
nmap gL :action RecentLocations<cr>

" check if works
nmap gn :action Diff.NextChange<cr>
nmap gp :action Diff.PrevChange<cr>

" built-in navigation to navigated items works better than c-o
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>
" more like search
" c-s-f
vnoremap <a-s> :action FindInPath<CR> 
nnoremap <a-s> :action FindInPath<CR> 

nma mp :action GotoPreviousBookmark<cr>
nma mn :action GotoNextBookmark<cr>
nma ma :action ShowBookmarks<cr>
nma mm :action ToggleBookmark<cr>

" lepiej nie używać taba
" nnorema <tab> :action NextTab<cr>
" nnoremap <s-tab> :action PreviousTab<cr>
"
"folds
" zo 	open current fold
" zO 	recursively open current fold
" zC 	recursively close current fold
" zc 	close current fold
" ExpandAllToLevel1                                  
" don't work
nnoremap zm :action CollapseAll<cr>
nnoremap zr :action ExpandAll<cr>

nnoremap <A-h> :action PrevSplitter<cr>
inoremap <A-h> :action PrevSplitter<cr>
nnoremap <A-l> :action NextSplitter<cr>
inoremap <A-l> :action NextSplitter<cr>

nnoremap <A-k> :action MethodUp<cr>
inoremap <A-k> :action MethodUp<cr>
nnoremap <A-j> :action MethodDown<cr>
inoremap <A-j> :action MethodDown<cr>

" code navigation
" Moving lines 
nmap <c-a-k> :action MoveLineUp<cr>
nma  <c-a-j> :action MoveLineDown<cr>

" OK but change mapping
" Moving statements - IDK what does it do
nmap <s-a-k> :action MoveStatementUp<cr>
nmap <s-a-j> :action MoveStatementDown<cr>

" Refactorings -generate
vmap T :action Refactorings.QuickListPopupAction<cr>
nmap T :action Refactorings.QuickListPopupAction<cr>
" Shift + F6 in idea.  Alt + R, then R (through the menu bar) also seems to work fine.
" map <Leader>r :action RenameElement<CR>
nmap tt :action RenameElement<cr>
nmap ti :action OptimizeImports<cr>
nmap tg :action Generate<cr>

nmap tm :action ExtractMethod<cr>
vmap tm :action ExtractMethod<cr>
nmap tc :action IntroduceConstant<cr>
nmap tf :action IntroduceField<cr>
nmap tp :action IntroduceParameter<cr>
nmap tv :action IntroduceVariable<cr>
nmap td :action MemberPushDown<cr>
nmap tu :action MembersPullUp<cr>


" nmap tp :action IntroduceFunctionalParameter<cr>
" nmap tm :action IntroduceParameterObject<cr>


" podobnej jest z alt-j i i f3 oraz pluginem- ogarnąć różnice. 
" chyba nie działa 
nnoremap <leader>l :action HighlightUsagesInFile<cr>
nnoremap <leader>n :action NextOccurence<cr>
" Hide All Tool Windows  fullscreen editor c-s-F12
nnoremap <leader>e :action HideAllWindows<cr>

" Maybe
map <C-h> :action TypeHierarchy<CR>
" VCS operations git
nmap ,y :action Vcs.Show.Local.Changes<cr>                          
nmap ,, :action Vcs.QuickListPopupAction<cr>
" nmap ,b :action Vcs.UpdateProject<cr>
nmap ,f :action Git.Fetch<cr>
nmap ,u :action Git.Pull<cr>
nmap ,s :action Git.Stash<cr>
nmap ,S :action Git.Unstash<cr>
nmap ,r :action Git.Rebase<cr>
nmap ,m :action Git.Merge<cr>
nmap ,p :action Vcs.Push<cr>
nmap ,t :action Git.Tag<cr>
nmap ,b :action Git.Branches<cr>
nmap ,a :action Annotate<cr>
nmap ,l :action Vcs.Show.Log<cr>
" history and Compare 
nmap ,vs :action Compare.Selected<cr>
nmap ,vv :action Compare.SameVersion<cr>
nmap ,vl :action Compare.LastVersion<cr>
" nie wiem jak compare with branch

" dont work
nmap ,L :action Vcs.History<cr>
nmap ,M :action Git.Menu<cr>
" nmap ,b :action Vcs.Checkout<cr>
nmap ,c :action Git.CheckoutRevision<cr>
nmap ,k :action ChangesView.Commit<cr>

" LocalHistory
nmap ,h :action LocalHistory.ShowHistory<cr>
nmap ,H :action LocalHistory.ShowSelectionHistory<cr>

" VcsToobarActions                                  
" nmap <leader>yr :action Git.ResolveConflicts<cr>                          
"
nmap <leader>m :action Maven.Reimport <cr>
" Maven.ReimportProject → jest jeszcze 
" External GVim - trzeba ustawić w externa tools w ide na termite -e nvim lub
" jakiś klient nvjm
nmap <leader>v :action Tool_External Tools_gvim<cr>
" nmap <leader>Q :action ReopenClosedTab<cr>
nmap <leader>r :action Replace<cr>

" nmap  :action JShell.Console
" Building, Running and Debugging
" nmap ,c :action CompileDirty<cr>
" nmap ,b :action Debug<cr>
" nmap ,c :action RunClass<cr>

nmap -r :action Run<cr>
nmap -R :action RunAnything<cr>
nmap -d :action Debug<cr>
nmap -t :action RerunTests<cr>                                         
nmap -T :action RerunFailedTests<cr>

" MAPS
" IDK what it is 
inoremap <C-a> <C-o>b
inoremap <C-d> <C-o>w
nnoremap <Space> <C-d><cr> 

" Error
" don't work 
" nmap <c-s> <F2>
" nmap <c-s-s> <s-F2>
nmap <c-s> :action GotoNextError<cr>
nmap <c-s-s> :action GotoPreviousError<cr>
nnoremap <leader>c :CodeCleanup<cr>

nnoremap <leader>/ :nohlsearch<cr>

" PLUGINS
" Easy Motion
let g:EasyMotion_smartcase = 1
map f <Plug>(easymotion-f)
map F <Plug>(easymotion-F)
map <leader>T <Plug>(easymotion-b)
" t and s is used
map <leader>t <Plug>(easymotion-w)
" map <nowait> s <Plug>(easymotion-j)
map s <Plug>(easymotion-j)
map S <Plug>(easymotion-k)
nmap <leader>. <Plug>(easymotion-repeat)

" nadpisanie skrótów przez vim
" ~/.config/JetBrains/IntelliJIdea2021.2/options/vim_settings.xml
sethandler <c-c> a:vim
sethandler <c-u> a:vim
sethandler <c-a> a:vim
sethandler <c-w> a:vim
sethandler <c-n> a:vim
sethandler <c-d> a:vim
sethandler <c-r> a:vim
sethandler <c-s> a:vim
sethandler <c-i> a:vim
sethandler <c-t> a:vim
sethandler <c-h> a:vim
sethandler <c-y> a:vim
sethandler <c-g> a:vim
sethandler <c-;> a:vim
sethandler <c-s-;> a:vim
sethandler <c-a-k> a:vim
sethandler <c-a-j> a:vim
sethandler <s-a-j> a:vim


" MAYBE LATER
" Inspectioncode
" nmap <leader>rc :action InspectCode<cr>
"
" NOT NEEDED

" shift shift
" nnoremap ge :action SearchEverywhere<CR> 
" inoremap ge :action SearchEverywhere<CR> 
"
" This is Ctrl-W in the default keymap, but we are using it for Vim.
" map <C-k> :action EditorSelectWord<CR>   

" nnoremap <A-h> <C-w>h
" nnoremap <A-j> <C-w>j
" nnoremap <A-k> <C-w>k
" nnoremap <A-l> <C-w>l
" inoremap <A-h> <C-\><C-N><C-w>h
" inoremap <A-j> <C-\><C-N><C-w>j
" inoremap <A-k> <C-\><C-N><C-w>k
" inoremap <A-l> <C-\><C-N><C-w>l

" SETTINGS
" 'clipboard'      'cb'    clipboard options
" 'digraph'        'dg'    enable the entering of digraphs in Insert mode
" 'gdefault'       'gd'    the ":substitute" flag 'g' is default on
" 'history'        'hi'    number of command-lines that are remembered
" 'hlsearch'       'hls'   highlight matches with last search pattern
" 'ignorecase'     'ic'    ignore case in search patterns
" 'iskeyword'      'isk'   defines keywords for commands like 'w', '*', etc.
" 'incsearch'      'is'    show where search pattern typed so far matches
" 'matchpairs'     'mps'   pairs of characters that "%" can match
" 'nrformats'      'nf'    number formats recognized for CTRL-A command
" 'number'         'nu'    print the line number in front of each line
" 'relativenumber' 'rnu'   show the line number relative to the line with the cursor
" 'scroll'         'scr'   lines to scroll with CTRL-U and CTRL-D
" 'scrolljump'     'sj'    minimum number of lines to scroll
" 'scrolloff'      'so'    minimum nr. of lines above and below cursor
" 'selection'      'sel'   what type of selection to use
" 'showmode'       'smd'   message on status line to show current mode
" 'sidescroll'     'ss'    minimum number of columns to scroll horizontal
" 'sidescrolloff'  'siso'  min. nr. of columns to left and right of cursor
" 'smartcase'      'scs'   no ignore case when pattern has uppercase
" 'timeout'        'to'    use timeout for mapped key sequences
" 'tieeoutlen'     'tm'    time that is waited for a mapped key sequence
" 'undolevels'     'ul'    maximum number of changes that can be undone
" 'viminfo'        'vi'    information to remember after restart
" 'visualbell'     'vb'    use visual bell instead of beeping
" 'wrapscan'       'ws'    searches wrap around the end of the file
"
"
" free keymap
" nmap <leader>R :action RunAnything<cr>
" nmap <leader>d :action DebugClass<cr>
" nmap <leader>t :action RerunTests<cr>                                         
" nmap <leader>T :action RerunFailedTests<cr>
